<div class="about-us">

  <!-- <img class="card-img" src="https://etimg.etb2bimg.com/photo/68902785.cms" alt="Card image"> -->

  <div class="card-img-overlay">
    <h1 class="card-title">ABOUT US</h1>
    <p>
        Electricity Billing System is a web-based application developed in Java programming language.
        The project aims at serving the department of electricity by computerizing the billing system. It mainly focuses on the calculation of Units consumed during the specified time and the money to be paid to electricity offices. This computerized system will make the overall billing system easy, accessible,
        comfortable and effective for consumers.The Objective is to develop a system that is meant to partially computerize the work
        performed in the Electricity Board like generating monthly electricity bill, record of consuming unit of energy,
        store record of the customer and previous unpaid record.
    </p>
  </div>

</div>
<!-- <div class="nav-bar">
  
</div>
<div class="card bg-dark text-white">
    <img class="card-img" src="https://etimg.etb2bimg.com/photo/68902785.cms" alt="Card image">
    <div class="card-img-overlay">
      <h1 class="card-title">ABOUT</h1>
      <p>
          

  Electricity Billing System is a web-based application developed in Java programming language.
   The project aims at serving the department of electricity by computerizing the billing system. It mainly focuses on the calculation of Units consumed during the specified time and the money to be paid to electricity offices. This computerized system will make the overall billing system easy, accessible,
   comfortable and effective for consumers.The Objective is to develop a system that is meant to partially computerize the work
   performed in the Electricity Board like generating monthly electricity bill, record of consuming unit of energy,
    store record of the customer and previous unpaid record.


          </p>
          </div>

  </div> -->
