<div class="body col-lg-12 col-md-12 col-sm-12 col-xs-12">

    <footer class="row col-lg-12 col-md-12 col-sm-12 col-xs-12 footer-body">

        <div class="row">
    
          <!-- <img class="foot-icon" src="assets/images/payment.sv" alt=""> --> 
            <div style="height: 10px;"></div>
            <a class="foot-text app-name"   href="#">Electricity Bill Management</a>
    
        </div>
    
        <div  class="col-lg-4 col-md-4 col-sm-12 col-xs-12" > 
    
            <div class="row">
    
                <p class="desc">
                    The aim of our project is to develop a system that is meant to partially computerize the work performed in the Electricity Board like generating monthly electricity bill, record of consuming unit of energy, store record of the customer and previous unpaid record. 
                </p>
    
            </div>
            
        </div>
    
        <div style=" text-align: center;" class="col-lg-4 col-md-4 col-sm-12 col-xs-12" >
        
            <!-- <a href="#" class="row"><span class=" glyphicon glyphicon-search"></span> Search </a> -->
            <a class="row" href="/auth"><span class="  glyphicon-log-in"></span> My Account </a>
            <a routerLink="/contactus" class="row"><span class="  glyphicon-user"></span> Contact Us </a>
            <a routerLink="/aboutus" class="row"><span class="  glyphicon-user"></span> About Us </a>
        
        </div>
    
        <div style=" text-align: center;" class="col-lg-4 col-md-4 col-sm-12 col-xs-12" >
        
            <a  class="row"><span class=" glyphicon glyphicon-home"></span> 123 Main Street, Delhi, 2313242</a>
            <a class="row" href="https://mail.google.com/mail/?view=cm&fs=1&tf=1&to=help@ebs.com" target="_blank" ><span class=" glyphicon glyphicon-envelope"></span> help@ebs.com </a>
            <a class="row"><span class=" glyphicon glyphicon-phone"></span> +9122543299</a>
    
        </div>
    
    </footer>
    
    <div style=" color: white; text-align: center;" class="row footer-body">
    
        <p>   Copyright 2020 HTML.am </p>
        
    </div>

</div>