<html>
<body>
    

    <span *ngIf = !mailSent>
        <div class="card">
            <h1 class="card-header"> Reset Password</h1> 
            <div class="card-body">
                <div class="input">
                    <br><br>
                    <label><strong>EMAIL</strong></label>
                    <br>
                    <input id="email" name="email" type="email" value="" [(ngModel)] = "email" />
                    <br><br>
                    <button type="submit" class="btn btn-dark" (click)="resetPass()"> Reset </button>
                    <br><br><br>
                </div>
            </div>
        </div>
    </span>

    <span *ngIf = "mailSent" >

        <div class="card">
            
            <p>Mail Sent to {{email}}</p>

            <p>Please try again if mail not received.</p>

            <p> <a href="signIn"><button class="btn btn-dark"> SIGN IN </button> </a></p>

        </div>

    </span>

 </body>
 
</html>