<div class="nav-bar">
 
</div>
<div class="card text-white">
    <img
      src="/assets/contact.jpeg"
      class="card-img" alt="image">
    <div class="card-img-overlay">
     <br><br><br><br><br><br><br><br><br>  
     <div class="shadow p-1 mb-5rounded">
      <p>
        <b>Email Us At : </b> ebscapgi@gmail.com
        <br>
        <b>Call us At :</b> 888-124-1258
      </p>
      <table align="center">
        <tr>
     <td>Address: Mumbai,</td><br>
     <tr>
       <td> State  : Maharastra,<br></td>
       </tr>
         <td>Pincode: 123-120,<br></td>
      <td>Country: India.</td>
      <tr>
      </table>
      </div>
    </div>
  </div>
